body {
    background-color: #f8f9fa;
    color: #000;
}

.tabs .btn {
    width: 25%;
    font-weight: bold;
    margin: 10px 0;
}

.search-bar {
    font-weight: bold;
    margin: 10px 0;
}

.tabs .btn.active {
    background-color: #000;
    color: #fff;
    border: none;
}

.tabs .btn-outline-dark {
    color: #000;
    border-color: #000;
}

.follow-requests .user-list {
    margin: 10px 0;
}

.request-item {
    background-color: transparent;
    margin: 5px 0;
}

.user-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-info .user-name {
    font-weight: bold;
    color: #000;
    font-size: 1.2rem;
}

.request-text {
    font-size: 1rem;
    color: #6c757d;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
    font-size: 1rem;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
}

hr {
    border: 0.5px solid #ddd;
    margin: 0;
}

.navbar {
    width: 100%; /* Default to full width */
    position: fixed;
    bottom: 0;
    left: 0;
}

.icons {
    width: 24px;
}

@media (min-width: 768px) { /* For tablets and desktops */
    .navbar {
        width: 60%;
        left: 20%;
    }
    .icons {
        width: 36px;
    }
}

.icons {
    opacity: 0.6;
}

.nav-item.active .icons {
    opacity: 1; 
    transform: scale(1.2); 
    border-bottom: 2px solid blue;
}