/* Toàn bộ trang */
body {
    background-color: #f5f5f5;
    color: #333;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p .plus-button{
    opacity: 0.1; 
}
/* Content Container */
.content-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

/* Nút "Post" */
.btn-outline-secondary {
    color: #333;
    border-color: #ddd;
    font-size: 0.9rem;
    padding: 5px 10px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

/* Main content (Post Feed) */
.main-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    color: #050101;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-top: 20px;
}

.post-feed .card {
    background-color: #ffffff;
    border: none;
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.post-feed .card-body {
    padding: 1rem;
    border-bottom: 1px solid #e2dcdc;
}

.post-feed .card:last-child {
    border-bottom: none;
}




