/* Toàn bộ trang */
body {
    background-color: rgba(250, 250, 250, 1);
    color: #333;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p .plus-button{
    opacity: 0.1; 
}
/* Content Container */
.content-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

/* Nút "Post" */
.btn-outline-secondary {
    color: #333;
    border-color: #ddd;
    font-size: 0.9rem;
    padding: 5px 10px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

/* Main content (Post Feed) */


.post-feed .card {
    background-color: #ffffff;
    border: none;
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 1rem;   
}

.post-feed .card-body {
    padding: 1rem;

}

.post-feed .card:last-child {
    border-bottom: none;
}

.text-muted {
    font-size: 0.9rem;
    color: rgb(215, 215, 215) !important;
}

.form-control{
    background-color: #ffffff !important;
}


.replies {
    margin-left: 2rem; /* Điều chỉnh mức thụt lề */
    border-left: 2px solid #333; /* Tạo đường viền để phân biệt */
    padding-left: 15px;
}

.post-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}
  
.like-icon {
    transition: opacity 0.2s ease-in-out;
}
  
.like-icon.liked {
    opacity: 1;
}
  
#commentModal .media img {
    width: 40px;
    height: 40px;
}
  
