/* Toàn bộ trang */
body {
    background-color: #f5f5f5;
    color: #333;
}

/* Sidebar */
.sidebar {
    width: 60px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #dbd7d7;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #d8d8d8;
    justify-content: space-between;
}

.sidebar-icons img, .logo img, .bottom-icons img {
    width: 30px;
    height: 30px;
    filter: brightness(1.5);
}

.sidebar-icons .nav-item {
    margin-bottom: 20px;
}

.sidebar-icons .nav-item img {
    transition: filter 0.3s;
}

.sidebar-icons .nav-item img:hover {
    filter: brightness(2);
}

.sidebar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.bottom-icons {
    margin-bottom: 20px;
}

/* Content Wrapper để giới hạn chiều rộng của Navbar và Content */
.content-wrapper {
    max-width: 600px; /* Giới hạn chiều rộng */
    margin: 0 auto; /* Căn giữa .content-wrapper */
    padding-top: 60px; /* Tạo khoảng cách cho navbar cố định */
    padding-bottom: 20px; /* Thêm khoảng cách phía dưới để cách biệt với main-container */
    box-sizing: border-box;
}

/* Navbar cố định ở trên cùng */
.navbar {
    position: fixed;
    top: 0;
    width: 600px; /* Chiếm toàn bộ chiều rộng của .content-wrapper */
    z-index: 1000;
    background-color: #e7e7e7;
    border-bottom: 1px solid #d1c7c7;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-sizing: border-box;
}

/* Content Container */
.content-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

/* Nút "Post" */
.btn-outline-secondary {
    color: #333;
    border-color: #ddd;
    font-size: 0.9rem;
    padding: 5px 10px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

/* Main content (Post Feed) */
.main-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    color: #050101;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-top: 20px;
}

.post-feed .card {
    background-color: #ffffff;
    border: none;
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.post-feed .card-body {
    padding: 1rem;
    border-bottom: 1px solid #e2dcdc;
}

.post-feed .card:last-child {
    border-bottom: none;
}

/* Dropdown căn giữa */
.dropdown-menu-center {
    left: 50%;
    transform: translateX(-50%);
}
